@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600');



strong {
  font-weight: 600;
}
html{

    scroll-behavior: smooth;

}


header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 70px;
  background: #1b1b1b;
  font-size:50px;
  color: #0c0c0c;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

main {
  padding: 70px 20px 0;
  display: flex;
  flex-direction: column;
  
  height: 90%;
}

main > div {
  margin: auto;
  max-width: 600px;
}

main h1 span {
  color: #BF7497;
}

main p {
  line-height: 1.5;
  font-weight: 200;
  margin: 20px 0;
}

main small {
  font-weight: 300;
  color: #888;
}

#nav-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  pointer-events: none;
}
#nav-container .bg {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  background: #000;
}
#nav-container:focus-within .bg {
  visibility: visible;
  opacity: .6;
}
#nav-container * {
  visibility: visible;
}

.button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 70px;
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
  margin-left: 25px;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: #aaa;
  transition: .3s;
}
.icon-bar + .icon-bar {
  margin-top: 5px;
}

#nav-container:focus-within .button {
  pointer-events: none;
}
#nav-container:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0,8px,0) rotate(45deg);
}
#nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}
#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0,-8px,0) rotate(-45deg);
}

#nav-content {
  margin-top: 70px;
  padding: 20px;
  width: 90%;
  max-width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 70px);
  background: #ebe9e9;
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0, 255, 149, 0);
  transform: translateX(-100%);
  transition: transform .3s;
  will-change: transform;
  contain: paint;
}

#nav-content ul {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#nav-content li a {
  padding: 10px 5px;
  display: block;
  text-transform: uppercase;
  transition: color .1s;
}

#nav-content li a:hover {
  color: #ffffff;
}

#nav-content li:not(.small) + .small {
  margin-top: auto;
}

.small {
  display: flex;
  align-self: center;
  color: #888;
}

.small a {
  font-size: 12px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}
.small a + a {
  margin-left: 15px;
}

#nav-container:focus-within #nav-content {
  transform: none;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  outline: 0;
}

a {
  color: currentColor;
  transition: .2s ease-in-out;
}

h1, h2, h3, h4 {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

.tb1{
  width:45%;
  border-radius: 5px;
  border-style: 1px solid;
  padding:3px 3px;
  position: relative;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.title{
  text-align: center;
  font-family: 'Times New Roman', sans-serif;
  margin-bottom: 10px;
}

.tb2{
  text-align: center;
  border-width:2px;
}

.table{
  width: 100%;
  border: 2px solid;
  text-align: left;
  font-size: 25px;
  padding: 1px;
  font-family: 'Times New Roman', sans-serif;
}
.btn1{
  float: center;
  margin-right: 10px;
  border-width: 2px;
}
.btn2{
  color: black;
  background-color: red;
  align-tracks: right;
  padding: 5px 5px;
  float: right;
}

.container{
  width:50%;
  border: 2px;
  border-radius: 10px;
  border-style: solid;
  margin: auto;
  background:gray;
}